<%= link_to "Back to all Puns", '/' %>
<div class="data_entry">
  <h3>Update Translation for</h3>
  Pun: <%= @translation.pun.pun %>
</div>
<br>
<div class="data_entry">
    <%= form_for [@translation.pun, @translation] do |f| %>
    <div>
        <div>
          <%= f.label :body, "Pun translation:" %>
          <div class="field"><%= f.text_area :translated_pun, cols: 90, rows: 1 %></div>
        </div>
        <div>
          <%= f.label :body, "Language of translation:" %>
          <div class="field"><%= f.text_area :language, cols: 20, rows: 1 %></div>
        </div>
        <div>
          <%= f.label :body, "Any comments?" %>
          <div class="field"><%= f.text_area :comments, cols: 50, rows: 1 %></div>
        </div>
    </div>
    <%= f.submit "Update Translation" %>
    <% end %>
  </div>
