<!DOCTYPE html>
<html>
<head>
  <title>PunTranslations</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default" background-image: url("https://pbs.twimg.com/media/BnihAFRCQAEgimU.jpg")>
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img alt="Pun Translations" src="..." height="40" width="120">
        </a>
      </div>

      <% if current_user %>
      <p> hello, <%= current_user.email %> </p>
      <%= link_to 'Logout', logout_path, method: :delete, data: {confirm: 'Are you sure?'} %>
      <% else %>
      <%= render 'sessions/login' %>
      <% end %>
      <% if logged_in? %>
        <p><%= link_to "Create Pun", create_pun_path, class: "btn btn-primary" %></p>
      <% end %>
  
    </div>
  </nav>
<div class="container">
  <%= yield %>
</div>

</body>
</html>
