<h1>Movies#new</h1>
<p>Find me in app/views/movies/new.html.erb</p>

<%= form_for @new_movie do |f| %>
  <%= f.label(:title) %>
  <%= f.text_field(:title) %>
  <%= f.label(:release_data) %>
  <%= f.text_field(:release_date) %>
  <%= f.submit('Add') %>
<%end%>
