<div class="page-header">
	<%= link_to "Back to all Puns", '/' %>
	<h2><%= @pun.pun %></h2>
</div>
<div>
  <ul class="list-group">
	<% @pun.translations.each do |t| %>
	  <li>
		<div class="list=group-item">Translation: <%= t.translated_pun %></div>
		<div><small>Language of Translation: <%= t.language %></small></div>
		<div><small>Comment: <%= t.comments %></small></div>
		<div><small>Person Responsible: 
			<% if t.user %>
              <%= t.user.name %>: <%= t.user.email %>
            <%else %>
              Anonymous User
            <%end%>
        </small></div>
        <% if logged_in? %>
          <% if current_user.id == t.user.id || current_user.num_points > 37 || current_user.is_admin %>
            </div>
              <a href="<%= edit_translation_path(t.id) %>" class="btn-sm btn-primary">Edit</a>
            </div>
            <br>
          <% end %>
        <% end %>     

      </li>
	<%end%>
  </ul>
</div>
</div>
  <div class="">
    <%= form_for [@pun, Translation.new] do |f| %>
    <div>
    	<div>
          <%= f.label :body, "New translation:" %>
          <%= f.text_area :translated_pun %>
        </div>
        <div>
          <%= f.label :body, "Language of translation:" %>
          <%= f.text_area :language %>
        </div>
        <div>
          <%= f.label :body, "Any comments?" %>
          <%= f.text_area :comments %>
        </div>
    </div>
    <%= f.submit "Add Translation" %>
    <% end %>
  </div>
