
<div class="data_entry">
<%= form_for @user do |f| %>
  <% if @user.errors.any? %> # check for errors in the submitted data
  <div class="error_messages">
    <h2>Form is invalid</h2>
    <ul>
      <% for message in @user.errors.full_messages %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

<div class="col-md-3">
    <%= f.label :username %><br>
    <%= f.label :language %><br>
    <%= f.label :email %><br>
    <%= f.label :password %><br>
    <%= f.label :confirmation %><br>
</div>
<div class="col-md-9">
  <%= f.text_field :name, placeholder: 'Name' %><br>
  <%= f.text_field :native_language, placeholder: 'Native language' %><br>
  <%= f.text_field :email, placeholder: 'Email' %><br>
  <%= f.password_field :password,  placeholder: 'Password' %><br>
  <%= f.password_field :password_confirmation, placeholder: 'Password'  %><br>
</div>

  <div class="actions">
    <%= f.submit 'Add' %>
  </div>
<% end %>
</div>