<h1>Flower Re-Education Center</h1>

<%= form_for @flower do |f| %>
  <%= f.text_field(:name, placeholder:'name') %>
  <%= f.label(:smokable)%>
  <%= f.check_box(:smokable) %>
  <%= f.text_field(:color, placeholder:'color') %>
  <%= f.submit('Edit') %>
<% end %>
